<!doctype html>
<html lang="en">

<head>
     <script src="header.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>RICE PLANT DISEASE PREDICTION</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .card-style {
            background-color: #dcdcdc;

        }

        .content {
            padding: 15px;
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }

        @media (max-width: 430px) and (min-width: 200px) {


            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }

            .content-h1 {

                font-size: 1rem;
            }
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>

<body>

 <script>addHeader();</script>

    <div>
        <img src="/static/images/RiceBanner.png" class="w3-border w3-padding" alt=""
            style="width:100%">
           
            
             
    </div>




    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->


                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>

                <h2>Disease Name  : </span></h2>
                <h3 style="line-height: 100%;">BrownSpot </h3>
                <h3 style="line-height: 100%;">Selected Model: {{ selected_model }} </h3>
                
                  
                <hr class="w-100 mx-auto ">
            </div>
        </div>


        <h1> Solution for Disease : </h1>
        <p><strong><ul><li>seed soak / seed treatment with Captan or  Thiram at 2.0g /kg of seed.</li></i></strong></p>
         <p><strong><li>Spray Mancozeb (2.0g/lit) or Edifenphos (1ml/lit) - 2 to 3 times at 10 - 15 day intervals.</li></i></strong></p>
          <p><strong><li>Spray preferably during early hours or afternoon at flowering and post - flowering stages.</li></i></strong></p>
           <p><strong><li>Seed treatment with Agrosan or Ceresan 2.5 g/kg seed to ward off seedling blight stage; Spraying copper fungicides to control secondary spread;</li></i></strong></p>
           <p><strong><li>Grisepfulvin, nystatin, aureofungin, and similar antibiotics have been found effective in preventing primary seedling infection.</li></i></strong></p>
           <p><strong><li>Seed treatment with captan, thiram, chitosan, carbendazim, or mancozeb has been found to reduce seedling infection. Seed treatment with tricyclazole followed by spraying of mancozeb + tricyclazole at tillering and late booting stages gave good control of the disease. Application of edifenphos, chitosan, iprodione, or carbendazim in the field is also advisable.</li></i></strong></p>
        <p></p>
       
    </div>



    <section>

        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 content-h1">
                Recommended Products</h1>
        </div>

        <div class="container">


            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/thiram.png" alt="">
                        <h2>Thiram</h2>
                        <h3 class="card-text">Dose: 2.0g /kg of seed</h3>
                        
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/spray Mancozeb.png" alt="">
                       <h2>Mancozeb</h2> 
                        <h3 class="card-text">Dose:(2.0g/lit) - 2 to 3 times at 10 - 15 day intervals.</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px" class="img-fluid" src="/static/images/Agrosan.png" alt="">
                         <h2>Agrosan</h2>
                        <h3 class="card-text">Dose:  2.5 g/kg </h3>
                    </div>
                </div>
                
                
                

            </div>

            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 contents">
                Delivery Contact:
               Contact to Nepal Engoneering College</h5>
            <!-- </div> -->
        </div>

    </section>

</body>

</html>