<!doctype html>
<html lang="en">

<head>
     <script src="header.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>RICE PLANT DISEASE PREDICTION</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .card-style {
            background-color: #dcdcdc;

        }

        .content {
            padding: 15px;
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }

        @media (max-width: 430px) and (min-width: 200px) {


            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }

            .content-h1 {

                font-size: 1rem;
            }
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>

<body>

 <script>addHeader();</script>

    <div>
        <img src="/static/images/RiceBanner.png" class="w3-border w3-padding" alt=""
            style="width:100%">
            
    </div>
    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
                </span>
            </div>

            <div class="col-sm">
                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <h2>Disease Name  : </span></h2>
                <h3 style="line-height: 100%;">Hispa </h3>
                <h3 style="line-height: 100%;">Selected Model: {{ selected_model }} </h3>
              <hr class="w-100 mx-auto ">
            </div>
        </div>
        <h1> Solution for Disease : </h1>
        <p><strong><ul><li>Different neem products, viz, neem cake (150 kg/ha basal + neem seed kernel extract (NSKE) 5% (21 days after transplanting), NSKE 5%, and neem oil 3% were compared with monocrotophos 36 WSC (0.4 kg a.i./ha) and carbofuran 3G (05 kg a.i./ha) for their effectiveness against the rice hispa, Dicludispa armigera Oliv., and Hieroglyphus nigrorepletus Bol. under field conditions. Carbofuran proved to be the most effective against rice hispa and showed the lowest leaf damage, 9.48 per cent after the first application.</li>
         <li>Against grasshopper, monocrotophos was effective, the leaf damage being 11.08 and 12.10 per cent afterthe first and second sprayings, respectively.</li>
         <li> NC+ NSKE 5% was the next best treatment, followed by neem seed kernel extract and neem oil, which were equally effective against both the pests.</li></i></strong></p>  
    </div>
    <section>

        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 content-h1">
                Recommended Products</h1>
        </div>

        <div class="container">


            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/furan.png" alt="">
                        <h2>Furan</h2>
                        <h3 class="card-text">Dose: carbofuran 3G (05 kg a.i./ha)</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="/static/images/nske.png" alt="">
                        <h2>NSKE</h2>
                        <h3 class="card-text">Dose:150 kg/ha basal + neem seed kernel extract (NSKE) 5% (21 days after transplanting).</h3>
                    </div>
                </div>
               
                
                

            </div>

            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 contents">
                Delivery Contact:
               Contact to Nepal Engoneering College</h5>
            <!-- </div> -->
        </div>

    </section>

</body>

</html>